<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도서관리시스템</title>
    <div>
        <h2><p style="text-align:center">도서 관리 시스템</p></h2>
        <p style="text-align:right"><button style="background: black;color: white;padding:5px 20px;" onclick="location.href='loginpage.html'">login</button></p>
    </div>
    <style>
        .button-container {
            text-align:center;
            margin-right: 30px;
            margin-left: 30px;
        }
        .main_btn{
            padding:30px 50px;
        }
    </style>
</head>
<body>
    <div class="button-container">
            <button class="main_btn" onclick="location.href='loanpage.html'">대출</button>&nbsp;
            <button class="main_btn" onclick="location.href='returnpage.html'">대출 반납/연장</button>&nbsp;
            <button class="main_btn" onclick="location.href='searchpage.html'">자료 검색</button>&nbsp;
            <button class="main_btn" onclick="location.href='board.html'">게시판</button>
    </div>
</body>
</html>