<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <p></p>
  <h1 style="text-align: center" >도서 게시판</h1>
  <p></p>
  <table class="table">
    <thead>
    <tr style="text-align: center">
      <th>게시판 번호</th>
      <th>작성자</th>
      <th>제목</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board, i : ${boardList}">
      <td style="text-align: center;" th:text="${i.count}"></td>
      <th><p style="text-align: center" th:text="*{board.memberId.getMemberId()}"></p></th>
      <th><p style="text-align: center;height: 50px;width: 250px;" th:text="*{board.title}"></p></th>
      <th><p style="text-align: center;width: 60px;"></p></th>
      <th>
        <div style="text-align: center">
          <a class="btn btn-secondary mt-3" th:href="@{'/BoardList/viewBoard/' + ${board.getBoardNumber()}}">View</a>
          <a class="btn btn-secondary mt-3" sec:authorize="hasAuthority('ADMIN')" th:href="@{'/BoardList/editBoard/' + ${board.getBoardNumber()}}">Edit</a>
        </div>
      </th>
    </tr>
    </tbody>
  </table>
  <table style="float:right">
    <tr>
      <th>
        <a class="btn btn-success" th:href="@{/BoardList/addBoard}">게시판 작성</a>
      </th>
      <th style="width: 20px"></th>
      <th>
        <a class="btn btn-success" th:href="@{/}">되돌아가기</a>
      </th>
      <th style="width: 10px"></th>
    </tr>
  </table>
</div>
</body>
</html>
