<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>비밀번호 변경</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
<div class="container my-3">
    <form th:action="@{/Admin/ChangePassword}" method="post">
        <p style="font-size: 40px;" class="text-left">패스워드 변경</p>
        <div class="mb-3 col-sm-6">
            <label class="form-label">변경할 비밀번호</label>
            <input type="text" name="newPassword" th:value="${newPassword}" />
        </div>
        <div class="mb-3 col-sm-6">
            <button type="submit" class="btn btn-primary">비밀번호 변경</button>
        </div>
    </form>
</div>
</body>

</html>