<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>도서 통합 검색</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div>
    <h2 style="text-align:center">도서 통합 검색</h2>
    <p style="text-align:right"><a th:href="@{/}"><button style="background: black;color: white;padding:5px 20px;">home</button></a></p>
</div>

<div class="search_box" style="text-align: center; padding-top: 5px;">
    <form th:action="@{/SearchList/SearchBook}" method="get">
        <div class="form-group">
            <select name="selectSearch">
                <option th:selected="${selectSearch == 'title'}" value="title">제목</option>
                <option th:selected="${selectSearch == 'tag'}" value="tag">태그</option>
            </select>
            <div>
                <input type="text" class="form-control" id="bookName" th:text="${searchName}" name="searchName" size="40" required placeholder="통합 검색어를 입력하시오">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" value="검색">검색</button>
    </form>
</div>
</body>
</html>