<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>멤버 수정</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4" style="text-align: center">멤버 정보 수정</h1>
    <form th:action="@{/MemberList/editMember/{id}(id=${member.memberId})}" method="post" th:object="${member}">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{memberId}" placeholder="제목을 작성해 주세요" required>
        </div>
        <div class="form-group">
            <label for="AnnouncementContent">내용</label>
            <textarea class="form-control" id="AnnouncementContent" th:field="*{address}" required
                      placeholder="내용을 작성해 주세요" style="resize: none;height: 9em;"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">변경 완료</button>
    </form>
    <a class="btn btn-secondary mt-3" th:href="@{/AnnouncementList}">취소</a>
</div>
</body>
</html>
