<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4" style="text-align: center">관리자</h1>
    <p></p>
    <div class="row">
        <div class="col-lg-6 col-sm-12 text-lg-start text-center">
            <th>
                <a class="btn btn-success" th:href="@{/AnnouncementList}">공지사항</a>
            </th>
            <th style="width:10px"></th>
            <th>
                <a class="btn btn-success" th:href="@{/BoardList}">게시판</a>
            </th>
            <th style="width:10px"></th>
            <th>
                <a class="btn btn-success" th:href="@{/BookAdd}">책 추가</a>
            </th>
            <th style="width:10px"></th>
            <th>
                <a class="btn btn-success" th:href="@{/MemberinfoManege}">회원 정보 관리</a>
            </th>
            </div>
        <div class="col-lg-6 col-sm-12 text-lg-end text-center">
            <th>
                <a class="btn btn-success" th:href="@{/ChangePassword}">비밀번호 변경</a>
            </th>
            <th style="width:10px"></th>
            <th>
                <a class="btn btn-success" th:href="@{/}">되돌아가기</a>
            </th>
        </div>
    </div>
    <table
            border="3"
            width="50%"
            height="200"
            cellspacing="5">
        <thead>

        <tbody>
        <tr align="center" bgcolor="white">
            <th>총 대출 건수</th>
            <td><strong th:text="${loanCount}"></strong></td>
            <td>현재 대출 수</td>
            <td><strong th:text="${loanCount}"></strong></td>
        </tr>
        <tr align="center" bgcolor="white">
            <td>총 회원 수</td>
            <td><strong th:text="${memberCount}"></strong></td>
            <td>보유 도서 수</td>
            <td><strong th:text="${bookCount}"></strong></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>