<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <p  style="padding:10px;" ></p>
    <title>도서 추가 완료</title>
    <meta charset="UTF-8">
    <div>
        <h1 style="text-align:center">도서 추가 완료</h1>
    </div>
</head>
<body>
<div class="search_box" style="text-align: center; padding-top: 5px;">
    <div id="search_result" style="text-align: left; padding-top: 5px;">
        <table class="table_style1" style=" width: 1100px; overflow: hidden; margin: 0 auto; padding: 0 0;">
            <tbody>
            <tr class="book-data">
                <td class="table_img">이미지</td>
                <td class="table_style1_td2">isbn</td>
                <td class="table_style1_td2">책이름</td>
                <td class="table_style1_td2">저자</td>
                <td class="table_style1_td2">발행년도</td>
                <td class="table_style1_td2">자료상태</td>
                <td class="table_style1_td2">신규 도서 여부</td>
                <td class="table_style1_td2">태그</td>
            </tr>
            <tr th:object="${Book}">
                <td><img th:src="@{'/images/' + *{imageUrl}}" alt="Book Image" class="img-thumbnail"></td>
                <td th:text="*{isbn}"></td>
                <td th:text="*{bookName}"></td>
                <td th:text="*{author}"></td>
                <td th:text="*{year}"></td>
                <td th:text="*{loanAvailability}"></td>
                <td th:text="*{newBookAvailability}"></td>
                <td th:text="*{tag.getTag()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-secondary mt-3" th:href="@{/}">되돌아가기</a>
</div>
</body>
</html>