<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서관리시스템</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <div>
        <h2><p style="text-align:center" th:href="@{/}">도서 관리 시스템</p></h2>
        <a href="http://localhost:8080/login"><p style="text-align:right"><button style="background: black;color: white;padding:5px 20px;">login</button></p></a>
    </div>
    <style>
        .button-container {
            text-align:center;
            margin-right: 30px;
            margin-left: 30px;
        }
        .main_btn{
            padding:30px 50px;
        }
    </style>
</head>
<body>
    <div class="button-container">
            <a href="http://localhost:8080/loan"><button class="main_btn">대출</button></a>&nbsp;
            <a href="http://localhost:8080/return"><button class="main_btn">대출 반납/연장</button></a>&nbsp;
            <a href="http://localhost:8080/search"><button class="main_btn">자료 검색</button></a>&nbsp;
            <a href="http://localhost:8080/board"><button class="main_btn">자료 게시판</button></a>
    </div>
</body>
</html>