<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <p  style="padding:10px;" ></p>
    <title>도서관리시스템</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <div>
        <h2><p style="text-align:center" th:href="@{/}">도서 관리 시스템</p></h2>
        <div style="text-align:right">
            <a th:href="@{/Login}"><button style="background: black;color: white;padding:5px 20px;">login</button></a>
            <a th:href="@{/Logout}"><button style="background: black;color: white;padding:5px 20px;">Logout</button></a>
        </div>
    </div>
    <p  style="padding:10px;" ></p>
    <style>
        .button-container {
            text-align:center;
            margin-right: 30px;
            margin-left: 30px;
        }
        .main_btn{
            padding:30px 50px;
        }
    </style>
</head>
<body>
    <div class="button-container">
        <a th:href="@{/Loan}"><button class="main_btn">대출</button></a>&nbsp;
        <a th:href="@{/LoanReturn}"><button class="main_btn">대출 반납/연장</button></a>&nbsp;
        <a th:href="@{/SearchList}"><button class="main_btn">자료 검색</button></a>&nbsp;
        <a th:href="@{/BoardList}"><button class="main_btn">게시판</button></a>
    </div>
    <p  style="padding:10px;" ></p>
    <div>
        <table style="margin : auto; table-layout: fixed; width: 403px">
            <colgroup>
                <col style="width: 101px">
                <col style="width: 101px">
                <col style="width: 100px">
                <col style="width: 101px">
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2" style="text-align: center; font-size: 35px;">공지사항</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="announcement, i : ${announcementList}">
                    <td></td>
                    <td><p style="text-align: right;height: 50px;width: 80px;" th:text="*{announcement.noticePriority + ' |'}"></p></td>
                    <td><a th:href="@{/'/AnnouncementList/viewAnnouncement/' + ${announcement.getNoticeNumber()}}"><p style="text-align: left; height: 50px;width: 300px;" th:text="*{announcement.noticeTitle}"></p></a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>