<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <p style="padding:10px;" ></p>
    <title>도서 관리 시스템</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <h1><p style="text-align:center">도서 관리 시스템</p></h1>
    <style>
        .button-container {
            text-align:center;
            margin-right: 30px;
            margin-left: 30px;
        }
        .main_btn{
            padding:30px 50px;
        }
        .sub_btn{
            background: black;
            color: white;
            padding:5px 20px;
        }
    </style>
</head>
<body>
<div sec:authorize="hasAuthority('ADMIN')" style="text-align:right">
    <a th:href="@{/Admin}"><button style="background: black;color: white;padding:5px 20px;">관리자 메뉴</button></a>
</div>
<p style="padding:1px;"></p>
<div style="text-align:right">
    <h5 style="display: inline" sec:authorize="isAuthenticated()" >
        <strong th:text="${userId}"></strong>님 환영합니다.
    </h5>
    <a sec:authorize="isAnonymous()" th:href="@{/Login}"><button class="sub_btn">login</button></a>
    <a sec:authorize="isAuthenticated()" th:href="@{/Logout}" ><button class="sub_btn">Logout</button></a>
    <a sec:authorize="isAnonymous()" th:href="@{/MemberList/AddMember}" ><button class="sub_btn">회원가입</button></a>
</div>
<p style="padding:10px;"></p>
<div class="button-container">
    <a th:href="@{/LoanList}"><button class="main_btn">대출</button></a>&nbsp;
    <a th:href="@{/LoanList/LoanReturn}"><button class="main_btn">대출 반납/연장</button></a>&nbsp;
    <a th:href="@{/SearchList}"><button class="main_btn">자료 검색</button></a>&nbsp;
    <a th:href="@{/BoardList}"><button class="main_btn">게시판</button></a>
</div>
<p style="padding:10px;"></p>
<div>
    <table style="margin : auto; table-layout: fixed; width: 403px">
        <colgroup>
            <col style="width: 100px">
            <col style="width: 100px">
            <col style="width: 100px">
            <col style="width: 100px">
        </colgroup>
        <thead>
        <tr>
            <th></th>
            <th colspan="2" style="text-align: center; font-size: 35px;">공지사항</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="announcement : ${announcementList}">
            <td></td>
            <td><p style="text-align: right;height: 50px;width: 80px;" th:text="*{announcement.noticePriority + ' |'}"></p></td>
            <td><a th:href="@{'/AnnouncementList/viewAnnouncement/' + ${announcement.getNoticeNumber()}}"><p style="text-align: left; height: 50px;width: 300px;" th:text="*{announcement.noticeTitle}"></p></a></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<p style="padding:200px;"></p>
<div>
    <table style="margin-left:auto; margin-right:auto; table-layout: fixed; width: 421px">
        <colgroup>
            <col style="width: 105px">
            <col style="width: 105px">
            <col style="width: 106px">
            <col style="width: 105px">
        </colgroup>
        <thead>
        <tr>
            <td><img th:src="@{'/images/' + ${Book1.imageUrl}}" alt="Book Image" ></td>
            <td><img th:src="@{'/images/' + ${Book2.imageUrl}}" alt="Book Image" ></td>
            <td><img th:src="@{'/images/' + ${Book3.imageUrl}}" alt="Book Image" ></td>
            <td><img th:src="@{'/images/' + ${Book4.imageUrl}}" alt="Book Image" ></td>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>