<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <p style="padding:10px;" ></p>
    <title>도서관리시스템</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <h1><p style="text-align:center">도서 관리 시스템</p></h1>
    <style>
        .button-container {
            text-align:center;
            margin-right: 30px;
            margin-left: 30px;
        }
        .main_btn{
            padding:30px 50px;
        }
    </style>
</head>
<body>
    <div style="text-align:right" sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/Admin}"><button style="background: black;color: white;padding:5px 20px;">관리자 메뉴</button></a>
    </div>
    <p style="padding:1px;"></p>
    <div style="text-align:right">
        <span sec:authentication="name">님 반갑습니다.</span>
        <a th:href="@{/Login}" sec:authorize="isAnonymous()" ><button style="background: black;color: white;padding:5px 20px;">login</button></a>
        <a th:href="@{/Logout}" sec:authorize="isAuthenticated()" ><button style="background: black;color: white;padding:5px 20px;">Logout</button></a>
    </div>
    <div class="button-container">
        <a th:href="@{/LoanList}"><button class="main_btn">대출</button></a>&nbsp;
        <a th:href="@{/LoanList/LoanReturn}"><button class="main_btn">대출 반납/연장</button></a>&nbsp;
        <a th:href="@{/SearchList}"><button class="main_btn">자료 검색</button></a>&nbsp;
        <a th:href="@{/BoardList}"><button class="main_btn">게시판</button></a>
    </div>
    <p style="padding:10px;"></p>
    <div>
        <table style="margin : auto; table-layout: fixed; width: 403px">
            <colgroup>
                <col style="width: 100px">
                <col style="width: 100px">
                <col style="width: 100px">
                <col style="width: 100px">
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th colspan="2" style="text-align: center; font-size: 35px;">공지사항</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="announcement : ${announcementList}">
                <td></td>
                <td><p style="text-align: right;height: 50px;width: 80px;" th:text="*{announcement.noticePriority + ' |'}"></p></td>
                <td><a th:href="@{'/AnnouncementList/viewAnnouncement/' + ${announcement.getNoticeNumber()}}"><p style="text-align: left; height: 50px;width: 300px;" th:text="*{announcement.noticeTitle}"></p></a></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>