<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>통합 검색 페이지</title>
    <div>
        <h2><p style="text-align:center">도서 통합 검색</p></h2>
        <p style="text-align:right"><button style="background: black;color: white;padding:5px 20px;" onclick="location.href='homepage.html'">home</button></p>
    </div>
    <style>
    </style>
</head>
<body>
<div id="search_box" style="text-align: center; padding-top: 5px;">
    <form action="search_result" autocomplete="off">
        <select name="type">
            <option selected value="">검색 내용 입력</option>
            <option value="title">제목</option>
            <option value="author">저자</option>
            <option value="tag">태그</option>
        </select>
        <input class=textform type="text" name=search size="40" required="required" placeholder="통합 검색어를 입력하시오">
        <input type="button" onclick="getSearchList()" class="btn btn-primary" value="검색"></input>
    </form>
</div>
<div id="search_result" style="text-align: left; padding-top: 5px;">
    <p class="total-text">해당되는 자료는 총 <strong class="ikc-search-result-count">30</strong>개의 대한 검색결과입니다. </p>
</div>

<div class="list-area">
    <ul class="result-list">
        <li class="result-item">
            <div class="thumbnail" isbn="9788960881570">
                <div class="image">
                    <img src="http://placehold.it/150X150" alt="표지" style="vertical-align:middle">
                </div>
                <dl class="book-data">
                    <dd>마리아DB 따라잡기</dd>
                    <dd>저자 | 장정우  발행년도 | 2022  태그 | 컴퓨터공학</dd>
                    <dd class="book-status">
                        <div class="left">
                            자료상태 | <span class="status available">대출 가능</span>
                            신규 도서 여부 | <span class="new_book">신규 도서</span>
                        </div>
                    </dd>
                </dl>
            </div>
        </li>
        <div sytle="clear:both"></div>
        <li class="result-item">
            <div class="thumbnail" isbn="9788960881570">
                <div class="image">
                    <img src="http://placehold.it/150X150" alt="표지" style="vertical-align:middle">
                </div>
                <dl class="book-data">
                    <dd>마리아DB 따라잡기</dd>
                    <dd>저자 | 장정우  발행년도 | 2022  태그 | 컴퓨터공학</dd>
                    <dd class="book-status">
                        <div class="left">
                            자료상태 | <span class="status available">대출 가능</span>
                            신규 도서 여부 | <span class="new_book">신규 도서</span>
                        </div>
                    </dd>
                </dl>
            </div>
        </li>
    </ul>
</div>
</body>
</html>